[user]
    email = you@example.com
    name = Your Name
[init]
	defaultBranch = main
[alias]
	lg = log --oneline --graph --all
[core]
	editor = nvim
[fetch]
	prune = true
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[diff]
	algorithm = histogram
