[Desktop Entry]
Name=Beeper
Exec=/home/robin/.local/AppImages/Beeper-4.3.89-x86_64.AppImage %u
Type=Application
Terminal=false
Comment=The ultimate messaging app
Categories=Network;Chat;
MimeType=x-scheme-handler/beeper;
StartupWMClass=Beeper
StartupNotify=true
X-Desktop-File-Install-Version=0.28
Icon=/home/robin/.local/share/icons/beeper.png
