[Desktop Entry]
Version=1.0
Name=Disk Usage
Exec=smart-launch --tui "disk-usage" "bash -c 'while :; do clear;wdu; dust -r;echo; echo -n \\"r: reload  q: quit \\"; read -n1 -s k; [[ $k == r ]] || break; done'"
Terminal=false
Type=Application
Icon=/home/robin/.assets/icons/shell.png
StartupNotify=true

