[Desktop Entry]
Version=1.0
Name=Google Gemini
Exec=smart-launch --web "chrome-gemini.google.com" "https://gemini.google.com"
Terminal=false
Type=Application
Icon=/home/robin/.assets/icons/google-gemini.png
StartupNotify=true

