[Desktop Entry]
Version=1.0
Name=OpenScad
Exec=$HOME/.local/appimages/openscad.AppImage
Terminal=false
Type=Application
StartupNotify=true
Icon=$HOME/.assets/icons/openscad.png

