[Desktop Entry]
Version=1.0
Name=OpenScad
Exec=YOUR_HOME/.local/appimages/openscad.AppImage
Terminal=false
Type=Application
StartupNotify=true
Icon=YOUR_HOME/.assets/icons/openscad.png

