[Desktop Entry]
Version=1.0
Name=Packages
Exec=zsh -lc "$HOME/.wraith/scripts/packages.sh"
Terminal=false
Type=Application
Icon=/home/robin/.assets/icons/arch.png
StartupNotify=true

