[Desktop Entry]
Version=1.0
Name=Tailscale
Exec=smart-launch --web "chrome-login.tailscale.com" "https://login.tailscale.com"
Terminal=false
Type=Application
StartupNotify=true
Icon=YOUR_HOME/.assets/icons/tailscale.png

