[Desktop Entry]
Version=1.0
Name=Youtube
Exec=smart-launch --web --new "brave-youtube.com" "https://youtube.com"
Terminal=false
Type=Application
Icon=/home/robin/.assets/icons/youtube.png
StartupNotify=true

