[Desktop Entry]
Version=1.0
Name=YT Music
Exec=smart-launch --web "chrome-music.youtube.com" "https://music.youtube.com"
Terminal=false
Type=Application
Icon=/home/robin/.assets/icons/youtube-music.png
StartupNotify=true

