[Desktop Entry]
Version=1.0
Name=YT Music
Comment=YT Music
Exec=/home/robin/.wraith/scripts/launch-webapp https://music.youtube.com
Terminal=false
Type=Application
Icon=/home/robin/.assets/icons/YT Music.png
StartupNotify=true
